// app global css in SCSS form
.imgHover {
    display: flex;
    justify-content: center;
    img {
      height: 78px;
      transition: ease-in all 0.3s;
    }
    padding-bottom: 6px;
  }
  .imgHover:hover {
    img {
      height: 84px;
      transition: ease-in all 0.3s;
    }
  }
  .margin-top {
    margin-top: 118px;
  }

// style for error message 
#divError {
  justify-content: center;
  align-items: center;

  color: $negative;
  span {
    margin-right: 10px;
  }
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 20px;
}